@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Qu's ASP.NET </h1>
    <p class="lead">Following Mosh Tutorials on ASP.net MVC</p>
    <p><a href="https://codewithmosh.com/courses/222293/lectures/3684024" class="btn btn-primary btn-lg">Go to tutorial &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>use Tech College domain: ftp.techcollege.dk:21001 username:ftp.techcollege.dk|SKOLE\quan0027 password:Uni-login.</p>
        <p><a class="btn btn-default" href="http://selfservice.itcn.dk/">Learn more &raquo;</a></p>
    </div>
</div>