@using Vidly.Models
@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@Html.ActionLink("New customer","New","Customers",null, new{@class = "btn btn-primary"})
@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Customer</th>
            <th>Discount Rate</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null) <input type="hidden" name="hiddenH2" id="H2" value="Edit Customer"> </td>
                
                <td>@customer.MembershipType.Name</td>
            </tr>
        }
        </tbody>
    </table>
}